# Define global variables
variables:
  RULES_DIR: "cyber-threat-emulation/Detection_Rules/Azure_Analytics" # Directory for rules
  RULES_FILE: "rules.yaml" # Name of the output file

stages:
  - test
  - export
  - push

# Stage 1: Test PowerShell Environment
powershell_test_job:
  stage: test
  tags:
    - azure
    - powershell
  script:
    - echo "Testing PowerShell environment..."
    - pwsh -Command "Get-Host" # Verify PowerShell availability
    - pwsh -Command "Get-Module -ListAvailable" # List available PowerShell modules

# Stage 2: Export Azure Sentinel Rules with PowerShell
export_rules:
  stage: export
  tags:
    - azure
    - cte
  script:
  - echo "Running PowerShell script to export Sentinel rules..."
  - |
    pwsh -Command "
    # Define parameters from environment variables
    $resourceGroupName = '$RESOURCE_GROUP';
    $workspaceName = '$WORKSPACE_NAME';
    $subscriptionid = '$AZURE_SUBSCRIPTION_ID';
    $servicePrincipalId = '$AZURE_CLIENT_ID';
    $servicePrincipalKey = '$AZURE_CLIENT_SECRET';
    $tenantId = '$AZURE_TENANT_ID';

    # Validate required variables
    if (-not $resourceGroupName) { Write-Error 'RESOURCE_GROUP is missing.'; Exit 1; }
    if (-not $workspaceName) { Write-Error 'WORKSPACE_NAME is missing.'; Exit 1; }
    if (-not $subscriptionid) { Write-Error 'AZURE_SUBSCRIPTION_ID is missing.'; Exit 1; }
    if (-not $servicePrincipalId) { Write-Error 'AZURE_CLIENT_ID is missing.'; Exit 1; }
    if (-not $servicePrincipalKey) { Write-Error 'AZURE_CLIENT_SECRET is missing.'; Exit 1; }
    if (-not $tenantId) { Write-Error 'AZURE_TENANT_ID is missing.'; Exit 1; }

    # Debugging: Output validated variables
    Write-Host ('Resource Group: ' + $resourceGroupName);
    Write-Host ('Workspace Name: ' + $workspaceName);
    Write-Host ('Subscription ID: ' + $subscriptionid);
    Write-Host ('Client ID: ' + $servicePrincipalId);
    Write-Host ('Tenant ID: ' + $tenantId);

    # Convert clientSecret to a secure string
    try {
        $credpass = ConvertTo-SecureString $servicePrincipalKey -AsPlainText -Force;
    } catch {
        Write-Error 'Failed to convert AZURE_CLIENT_SECRET to a secure string.';
        Exit 1;
    }

    # Authenticate with Azure and export rules
    try {
        $credential = New-Object System.Management.Automation.PSCredential($servicePrincipalId, $credpass);
        Connect-AzAccount -ServicePrincipal -Tenant $tenantId -Credential $credential -Environment 'AzureCloud';
        Set-AzContext -SubscriptionId $subscriptionid -TenantId $tenantId;
        Get-SentinelAnalyticsRuleYAML -workspaceName $workspaceName -resourceGroupName $resourceGroupName -subscriptionId $subscriptionid -outputPath './$RULES_DIR';
        Write-Host 'Azure Sentinel rules export completed successfully.';
    } catch {
        Write-Error 'An error occurred during authentication or rule export.';
        Exit 1;
    }
    "
