prod backup:
  stage: deploy
  variables:
    GIT_USERNAME: "danielle.m.torrence.ctr@mail.mil"  # Replace with your GitLab username
    GIT_PASSWORD: $GITLAB_TOKEN  # Use a GitLab personal access token
  before_script:
    # Check if Git is installed
    - powershell -Command "& {
        if (-not (Get-Command git -ErrorAction SilentlyContinue)) {
            Write-Host 'Git is not installed. Exiting.';
            Exit 1;
        }"
    # Configure Git to use HTTPS with credentials
    - powershell -Command "& {
        git config --global user.email \"ci@example.com\";
        git config --global user.name \"CI\";
        git remote remove origin || Write-Host 'No existing origin to remove.';
        git remote add origin https://${GIT_USERNAME}:${GIT_PASSWORD}@gitlab.com/your-namespace/your-repo.git;
  script:
    # Run the Backup scripts
    - pwsh './scripts/Backup.ps1' -resourceGroupName "$resourceGroupName" -subscriptionID "$subscriptionid"
    # Add and push the changes
    - powershell -Command "& {
        git add './Detection_Rules/Azure_Analytics/Backup';
        git commit -m \"CI BACKUP - $CI_JOB_STARTED_AT\";
        git push origin HEAD:$CI_COMMIT_REF_NAME;
  tags:
    - azure 
    - powershell
    - cte
  when: manual
