include:
  - template: Terraform/Base.gitlab-ci.yml  # GitLab Terraform base template
  - template: Jobs/SAST-IaC.gitlab-ci.yml   # Static Analysis for IaC templates

stages:
  - validate
  - test
  - build
  - deploy
  - cleanup

# Define variables for Azure Government Authentication
variables:
  TF_ROOT: "terraform"  # Adjust to the directory containing Terraform code
  ARM_CLIENT_ID: $ARM_CLIENT_ID
  ARM_CLIENT_SECRET: $ARM_CLIENT_SECRET
  ARM_SUBSCRIPTION_ID: $ARM_SUBSCRIPTION_ID
  ARM_TENANT_ID: $ARM_TENANT_ID
  ARM_ENVIRONMENT: "usgovernment"  # Required for Azure Gov
  TF_STATE_NAME: "azure-gov-deployment"  # Environment name for state

# Terraform Format
fmt:
  extends: .terraform:fmt
  needs: []
  script:
    - terraform fmt -check -recursive

# Terraform Validate
validate:
  extends: .terraform:validate
  needs: []
  script:
    - terraform init
    - terraform validate

# Terraform Plan
build:
  extends: .terraform:build
  stage: build
  script:
    - terraform init
    - terraform plan -out=tfplan
  artifacts:
    paths:
      - tfplan

# Terraform Apply (Deploy)
deploy:
  extends: .terraform:deploy
  stage: deploy
  dependencies:
    - build
  environment:
    name: $TF_STATE_NAME
    action: start
  script:
    - terraform init
    - terraform apply -auto-approve tfplan

# Terraform Cleanup
cleanup:
  stage: cleanup
  script:
    - terraform init
    - terraform destroy -auto-approve
  when: manual
  environment:
    name: $TF_STATE_NAME
    action: stop

tags:
    - terraform
    
